<!DOCTYPE html>
<html>
    <head>
        <title>CCTV</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div>
            <img style="width: 100%; height:80%; background-attachment: fixed;" id="bg" class="center" src="{{ url_for('video_feed') }}">
        </div>
        <div>
            <button id="start" onclick="start()">REC Start</button>
            <button id="stop" onclick="stop()">REC Stop</button>
            <button id="low_light_on" onclick="low_light_on()">Enable low light mode</button>
        </div>
    </body>
<script type="text/javascript">
    function submit(url) {
        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.onload = function() {
            console.log(request.responseText);
        };

        request.onerror = function() {
            console.log("Error");
        };

        request.send(new FormData()); // create FormData from form that triggered event
    }

    function start() {
        submit("{{ url_for('start_rec') }}");
    }

    function stop() {
        submit("{{ url_for('stop_rec') }}");
    }

    function low_light_on() {
        submit("{{ url_for('low_light_on') }}");
    }
</script>
</html>
